*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: bisque;
}

nav{
    display: flex;
    width: 50vw;
    flex-direction: row;
    /* padding-top: 1em; */
    /* background-color: rgb(169, 195, 41); */
    min-height: 50px;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-around;
    padding-right: 5em;
}

.logodiv{
    display: inline-block;
    margin-top: 0.5em;
    margin-left: 3em;
    /* height: 40px; */
}


nav>span{
    /* margin-left: 13em; */
    font-weight: 400;
}

.content{
    /* margin-top: 10em; */
    min-height: 500px;
    /* background-color: green; */
    display: flex;
    margin: 2em auto;
    margin-bottom: 0px;
    width: 90%;
}

.box{
    padding: 3em;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: 0px;
    /* max-height: 50%; */
}

p{
    margin-top: 2.5em;
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 0.4em;
}

button{
    margin-top: 2em;
    width: 20%;
    height: 2.5rem;
    font-weight: 400;
    color: white;
    border-radius: 15px;
    background-color: green;
    border: none;
}

.picdiv{
    height: 50%;
}

.image{
    max-width: 45%;
    max-height: 100%;
}

.picdiv2{
    margin-top: 0.5em ;
}